@model LabSem2Tarea2.crearFormulario.Models.Producto
@{
    ViewData["Title"] = "Venta de Producto";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form asp-controller="Producto" asp-action="Registrar">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control form-control-sm" type="text" placeholder="Escriba nombre del Producto" aria-label=".form-control-sm" />

        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control form-control-sm" type="text" placeholder="Ingrese Precio" aria-label=".form-control-sm" />

        <label asp-for="Cantidad" class="control-label"></label>
        <input asp-for="Cantidad" class="form-control form-control-sm" type="text" placeholder="Ingrese Cantidad" aria-label=".form-control-sm" />


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Vender</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1><br>
    @ViewData["Message2"]
    

</div>